header {
	font-size: 3em;
	color: darkgrey;
	text-align: center;
}

.choices {
	display: flex;
	flex-direction: row;
	border-radius: 5%;
	margin: 0 35%;
}

.data-y {
	background-color: lightgreen;
	border: 1px solid black;
}

.data-n {
	background-color: lightcoral;
	border: 1px solid black;
}
.answer,
#timer {
	font-weight: 900;
}